.content-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width:100%;
}

.dashboard-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
}

.dashboard-cards{
    height: 150px;
    border-radius: 8px;
}

.dashboard-cards p{
    color: #ffffff;
}